@model IEnumerable<LocationWithCodeViewModel>

<a asp-controller="Location" asp-action="Add">
	<input type="submit" value="Add location" class="btn btn-primary mb-3"/>
</a>
<table class="table table-light">
	<thead>
		<tr>
			<th scope="col">Location</th>
			<th scope="col">Code</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var l in Model)
		{
			<tr>
				<td>
					@l.Name
				</td>
				<td>
					@l.Code
				</td>
				<td >
					<a asp-route-locationId="@l.Id" asp-controller="Location" asp-action="Edit">
						<input type="submit" value="Edit" class="btn btn-success"/>
					</a>
				</td>
				<td>
					<a asp-route-locationId="@l.Id" asp-controller="Location" asp-action="Delete">
						<input type="submit" value="Delete" class="btn btn-danger" />
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>